* {
  margin: 0;
  padding: 0; }

main {
  background-color: black; }

ul {
  list-style-type: none; }

footer {
  background-color: rgba(22, 21, 21, 0.925); }

header {
  height: 100px;
  width: 100%;
  color: darkorange;
  font-family: "Permanent Marker", cursive;
  text-align: center; }
  header h1 {
    padding-top: 50px; }

@media only screen and (max-width: 600px) {
  /* Header */
  .header {
    background-image: url(../img/banner1.png); }
  /* Nav */
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /* Main */
  .m {
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 250px 250px;
    row-gap: 15px; }
    .m .video {
      width: 100%; }
      .m .video iframe {
        height: 100%;
        width: 100%; }
    .m .imagen {
      width: 100%; }
      .m .imagen img {
        height: 100%;
        width: 100%; }
    .m .info {
      display: grid;
      color: white;
      font-family: "Permanent Marker", cursive;
      text-align: center; }
      .m .info #parrafo {
        align-self: center; }
  /* Footer */
  .f {
    top: 600px;
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "a1 a1" "a5 a5" "a2 a3" "a4 a3"; }
    .f h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive;
      grid-area: a1; }
    .f h5 {
      text-align: center;
      font-family: "Permanent Marker", cursive;
      grid-area: a5;
      color: white;
      padding-top: 20px; }
  .twitter {
    transition: height 4s, width 4s;
    top: 70px;
    position: relative; }
  .twitter :hover {
    height: 50px;
    width: 50px; }
  .ig {
    transition: height 4s, width 4s;
    top: 70px;
    position: relative; }
  .ig :hover {
    height: 50px;
    width: 50px; }
  #formis {
    height: 100px;
    width: 100%;
    grid-area: a3;
    position: relative;
    top: 70px;
    padding-right: 30px; } }

@media only screen and (min-width: 600px) {
  /* Header */
  .header {
    background-image: url(../img/banner1.png); }
  /* Nav */
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /* Main */
  .m {
    display: grid;
    height: 1000px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 300px 350px 250px;
    row-gap: 15px; }
    .m .video {
      width: 100%; }
      .m .video iframe {
        height: 100%;
        width: 100%; }
    .m .imagen {
      width: 100%; }
      .m .imagen img {
        height: 100%;
        width: 100%; }
    .m .info {
      display: grid;
      color: white;
      font-family: "Permanent Marker", cursive;
      text-align: center; }
      .m .info #parrafo {
        align-self: center; }
  /* Footer */
  .f {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f h2 {
      color: black;
      position: relative;
      top: 30px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f .twitter {
      transition: height 4s, width 4s; }
    .f .twitter :hover {
      height: 50px;
      width: 50px; }
    .f .ig {
      transition: height 4s, width 4s; }
    .f .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 768px) {
  /* Header */
  .header {
    background-image: url(../img/banner1.png); }
  /* Nav */
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /* Main */
  .m {
    display: grid;
    height: 1000px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 300px 350px 250px;
    row-gap: 15px; }
    .m .video {
      width: 100%; }
      .m .video iframe {
        height: 100%;
        width: 100%; }
    .m .imagen {
      width: 100%; }
      .m .imagen img {
        height: 100%;
        width: 100%; }
    .m .info {
      display: grid;
      color: white;
      font-family: "Permanent Marker", cursive;
      text-align: center; }
      .m .info #parrafo {
        align-self: center; }
  /* Footer */
  .f {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f .twitter {
      transition: height 4s, width 4s; }
    .f .twitter :hover {
      height: 50px;
      width: 50px; }
    .f .ig {
      transition: height 4s, width 4s; }
    .f .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 992px) {
  /* Header */
  .header {
    background-image: url(../img/banner1.png); }
  /* Nav */
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /* Main */
  .m {
    display: grid;
    height: 1200px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 400px 600px 100px;
    row-gap: 33px; }
  .video {
    width: 100%; }
    .video iframe {
      height: 100%;
      width: 100%; }
  .imagen {
    width: 100%; }
    .imagen img {
      height: 100%;
      width: 100%; }
  .info {
    display: grid;
    color: white;
    font-family: "Permanent Marker", cursive;
    text-align: center; }
    .info #parrafo {
      align-self: center; }
  /* Footer */
  .f {
    top: 600px;
    height: 250px;
    width: 100%; }
    .f h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f .twitter {
      transition: height 4s, width 4s; }
    .f .twitter :hover {
      height: 50px;
      width: 50px; }
    .f .ig {
      transition: height 4s, width 4s; }
    .f .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (max-width: 600px) {
  /*Header*/
  #header {
    background-image: url(../img/banner3.png); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m1 {
    display: grid;
    height: 800px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 450px 300px;
    align-content: center;
    row-gap: 30px; }
    .m1 #parrafos {
      display: grid;
      align-items: center;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      color: white;
      display: grid;
      font-family: "Permanent Marker", cursive;
      text-align: center; }
    .m1 #video {
      width: 100%; }
      .m1 #video iframe {
        height: 100%;
        width: 100%; }
  /*Footer*/
  .f1 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f1 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f1 .twitter {
      transition: height 4s, width 4s; }
    .f1 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f1 .ig {
      transition: height 4s, width 4s; }
    .f1 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 600px) {
  /*Header*/
  #header {
    background-image: url(../img/banner3.png); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m1 {
    display: grid;
    height: 800px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 350px 300px;
    align-content: center;
    row-gap: 30px; }
    .m1 #parrafos {
      display: grid;
      align-items: center;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      color: white;
      display: grid;
      font-family: "Permanent Marker", cursive;
      text-align: center; }
    .m1 #video {
      width: 100%; }
      .m1 #video iframe {
        height: 100%;
        width: 100%; }
  /*Footer*/
  .f1 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f1 h2 {
      color: black;
      position: relative;
      top: 30px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f1 .twitter {
      transition: height 4s, width 4s; }
    .f1 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f1 .ig {
      transition: height 4s, width 4s; }
    .f1 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 768px) {
  /*Header*/
  #header {
    background-image: url(../img/banner3.png); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m1 {
    display: grid;
    height: 800px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 300px 400px;
    align-content: center;
    row-gap: 30px; }
    .m1 #parrafos {
      display: grid;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      color: white;
      font-family: "Permanent Marker", cursive;
      text-align: center;
      align-items: center; }
    .m1 #video {
      width: 100%; }
      .m1 #video iframe {
        height: 100%;
        width: 100%; }
  /*Footer*/
  .f1 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f1 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f1 .twitter {
      transition: height 4s, width 4s; }
    .f1 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f1 .ig {
      transition: height 4s, width 4s; }
    .f1 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 992px) {
  /*Header*/
  #header {
    background-image: url(../img/banner3.png); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m1 {
    display: grid;
    height: 800px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 300px 400px;
    align-content: center;
    row-gap: 30px; }
    .m1 #parrafos {
      display: grid;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      color: white;
      font-family: "Permanent Marker", cursive;
      text-align: center;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px; }
    .m1 #video {
      width: 100%; }
      .m1 #video iframe {
        height: 100%;
        width: 100%; }
  /*Footer*/
  .f1 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f1 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f1 .twitter {
      transition: height 4s, width 4s; }
    .f1 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f1 .ig {
      transition: height 4s, width 4s; }
    .f1 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (max-width: 600px) {
  /*Header*/
  .headerr {
    background-image: url(../img/banner2.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m2 {
    display: grid;
    height: 2070px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1630px 100px;
    align-content: center;
    row-gap: 150px; }
    .m2 .characters {
      height: 100%;
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
      grid-template-areas: "Naruto" "Sasuke" "Sakura" "Kakashi" "Itachi" "Minato"  "Obito" "Madara" "Hashirama" "Tobirama" "Sarutobi" "Pain"  "Tsunade" "Orochimaru" "Jiraiya"; }
      .m2 .characters .Naruto {
        height: 100%;
        width: 50%;
        grid-area: Naruto;
        transition: height 2s, width 2s; }
      .m2 .characters .Naruto :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Sasuke {
        height: 100%;
        width: 50%;
        grid-area: Sasuke;
        transition: height 2s, width 2s; }
      .m2 .characters .Sasuke :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Sakura {
        height: 100%;
        width: 50%;
        grid-area: Sakura;
        transition: height 2s, width 2s; }
      .m2 .characters .Sakura :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Kakashi {
        height: 100%;
        width: 50%;
        grid-area: Kakashi;
        transition: height 2s, width 2s; }
      .m2 .characters .Kakashi :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Itachi {
        height: 100%;
        width: 50%;
        grid-area: Itachi;
        transition: height 2s, width 2s; }
      .m2 .characters .Itachi :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Minato {
        height: 100%;
        width: 50%;
        grid-area: Minato;
        transition: height 2s, width 2s; }
      .m2 .characters .Minato :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Obito {
        height: 100%;
        width: 50%;
        grid-area: Obito;
        transition: height 2s, width 2s; }
      .m2 .characters .Obito:hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Madara {
        height: 100%;
        width: 51%;
        grid-area: Madara;
        transition: height 2s, width 2s; }
      .m2 .characters .Madara :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Hashirama {
        height: 100%;
        width: 50%;
        grid-area: Hashirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Hashirama :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Tobirama {
        height: 100%;
        width: 50%;
        grid-area: Tobirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Tobirama :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Sarutobi {
        height: 100%;
        width: 50%;
        grid-area: Sarutobi;
        transition: height 2s, width 2s; }
      .m2 .characters .Sarutobi :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Pain {
        height: 100%;
        width: 50%;
        grid-area: Pain;
        transition: height 2s, width 2s; }
      .m2 .characters .Pain :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Tsunade {
        height: 100%;
        width: 50%;
        grid-area: Tsunade;
        transition: height 2s, width 2s; }
      .m2 .characters .Tsunade :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Orochimaru {
        height: 100%;
        width: 50%;
        grid-area: Orochimaru;
        transition: height 2s, width 2s; }
      .m2 .characters .Orochimaru :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Jiraiya {
        height: 100%;
        width: 50%;
        grid-area: Jiraiya;
        transition: height 2s, width 2s; }
      .m2 .characters .Jiraiya :hover {
        height: 300px;
        width: 150px; }
    .m2 .description {
      display: grid;
      justify-items: center;
      align-items: center; }
      .m2 .description .descripcion {
        color: white;
        font-family: "Permanent Marker", cursive; }
  /*Footer*/
  .f2 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f2 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f2 .twitter {
      transition: height 4s, width 4s; }
    .f2 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f2 .ig {
      transition: height 4s, width 4s; }
    .f2 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 600px) {
  /*Header*/
  .headerr {
    background-image: url(../img/banner2.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m2 {
    display: grid;
    height: 400px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 300px 50px;
    align-content: center;
    row-gap: 30px; }
    .m2 .characters {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 90px 90px 90px;
      grid-template-areas: "Naruto Sasuke Sakura Kakashi Itachi" "Minato Obito Madara Hashirama Tobirama" "Sarutobi Pain Tsunade Orochimaru Jiraiya"; }
      .m2 .characters .Naruto {
        height: 90%;
        width: 70%;
        grid-area: Naruto;
        transition: height 2s, width 2s; }
      .m2 .characters .Naruto :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Sasuke {
        height: 90%;
        width: 70%;
        grid-area: Sasuke;
        transition: height 2s, width 2s; }
      .m2 .characters .Sasuke :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Sakura {
        height: 90%;
        width: 70%;
        grid-area: Sakura;
        transition: height 2s, width 2s; }
      .m2 .characters .Sakura :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Kakashi {
        height: 90%;
        width: 70%;
        grid-area: Kakashi;
        transition: height 2s, width 2s; }
      .m2 .characters .Kakashi :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Itachi {
        height: 90%;
        width: 70%;
        grid-area: Itachi;
        transition: height 2s, width 2s; }
      .m2 .characters .Itachi :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Minato {
        height: 90%;
        width: 70%;
        grid-area: Minato;
        transition: height 2s, width 2s; }
      .m2 .characters .Minato :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Obito {
        height: 90%;
        width: 70%;
        grid-area: Obito;
        transition: height 2s, width 2s; }
      .m2 .characters .Obito :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Madara {
        height: 90%;
        width: 70%;
        grid-area: Madara;
        transition: height 2s, width 2s; }
      .m2 .characters .Madara :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Hashirama {
        height: 90%;
        width: 70%;
        grid-area: Hashirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Hashirama :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Tobirama {
        height: 90%;
        width: 70%;
        grid-area: Tobirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Tobirama :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Sarutobi {
        height: 90%;
        width: 70%;
        grid-area: Sarutobi;
        transition: height 2s, width 2s; }
      .m2 .characters .Sarutobi :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Pain {
        height: 90%;
        width: 70%;
        grid-area: Pain;
        transition: height 2s, width 2s; }
      .m2 .characters .Pain :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Tsunade {
        height: 90%;
        width: 70%;
        grid-area: Tsunade;
        transition: height 2s, width 2s; }
      .m2 .characters .Tsunade :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Orochimaru {
        height: 90%;
        width: 70%;
        grid-area: Orochimaru;
        transition: height 2s, width 2s; }
      .m2 .characters .Orochimaru :hover {
        height: 300px;
        width: 150px; }
      .m2 .characters .Jiraiya {
        height: 90%;
        width: 70%;
        grid-area: Jiraiya;
        transition: height 2s, width 2s; }
      .m2 .characters .Jiraiya :hover {
        height: 300px;
        width: 150px; }
    .m2 .description {
      display: grid;
      justify-items: center;
      align-items: center; }
      .m2 .description .descripcion {
        color: white;
        font-family: "Permanent Marker", cursive; }
  /*Footer*/
  .f2 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f2 h2 {
      color: black;
      position: relative;
      top: 30px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f2 .twitter {
      transition: height 4s, width 4s; }
    .f2 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f2 .ig {
      transition: height 4s, width 4s; }
    .f2 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 768px) {
  /*Header*/
  .headerr {
    background-image: url(../img/banner2.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m2 {
    display: grid;
    height: 1800px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1700px 50px;
    align-content: center;
    row-gap: 30px; }
    .m2 .characters {
      height: 110%;
      width: 100%;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "Naruto Sasuke Sakura Kakashi Itachi" "Minato Obito Madara Hashirama Tobirama" "Sarutobi Pain Tsunade Orochimaru Jiraiya"; }
      .m2 .characters .Naruto {
        height: 70%;
        width: 100%;
        grid-area: Naruto;
        transition: height 2s, width 2s; }
      .m2 .characters .Naruto :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Sasuke {
        height: 70%;
        width: 100%;
        grid-area: Sasuke;
        transition: height 2s, width 2s; }
      .m2 .characters .Sasuke :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Sakura {
        height: 70%;
        width: 100%;
        grid-area: Sakura;
        transition: height 2s, width 2s; }
      .m2 .characters .Sakura :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Kakashi {
        height: 70%;
        width: 100%;
        grid-area: Kakashi;
        transition: height 2s, width 2s; }
      .m2 .characters .Kakashi :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Itachi {
        height: 70%;
        width: 100%;
        grid-area: Itachi;
        transition: height 2s, width 2s; }
      .m2 .characters .Itachi :hover {
        height: 400px;
        width: 250px; }
      .m2 .characters .Minato {
        height: 70%;
        width: 100%;
        grid-area: Minato;
        transition: height 2s, width 2s; }
      .m2 .characters .Minato :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Obito {
        height: 70%;
        width: 100%;
        grid-area: Obito;
        transition: height 2s, width 2s; }
      .m2 .characters .Obito :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Madara {
        height: 70%;
        width: 100%;
        grid-area: Madara;
        transition: height 2s, width 2s; }
      .m2 .characters .Madara :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Hashirama {
        height: 70%;
        width: 100%;
        grid-area: Hashirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Hashirama :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Tobirama {
        height: 70%;
        width: 100%;
        grid-area: Tobirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Tobirama :hover {
        height: 400px;
        width: 250px; }
      .m2 .characters .Sarutobi {
        height: 70%;
        width: 100%;
        grid-area: Sarutobi;
        transition: height 2s, width 2s; }
      .m2 .characters .Sarutobi :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Pain {
        height: 70%;
        width: 100%;
        grid-area: Pain;
        transition: height 2s, width 2s; }
      .m2 .characters .Pain :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Tsunade {
        height: 70%;
        width: 100%;
        grid-area: Tsunade;
        transition: height 2s, width 2s; }
      .m2 .characters .Tsunade :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Orochimaru {
        height: 70%;
        width: 100%;
        grid-area: Orochimaru;
        transition: height 2s, width 2s; }
      .m2 .characters .Orochimaru :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Jiraiya {
        height: 70%;
        width: 100%;
        grid-area: Jiraiya;
        transition: height 2s, width 2s; }
      .m2 .characters .Jiraiya :hover {
        height: 400px;
        width: 250px; }
    .m2 .description {
      display: grid;
      justify-items: center;
      align-items: center; }
      .m2 .description .descripcion {
        color: white;
        font-family: "Permanent Marker", cursive; }
  /*Footer*/
  .f2 {
    top: 2500px;
    height: 240px;
    width: 100%; }
    .f2 h2 {
      color: black;
      position: relative;
      top: 20px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f2 .twitter {
      transition: height 4s, width 4s; }
    .f2 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f2 .ig {
      transition: height 4s, width 4s; }
    .f2 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 992px) {
  /*Header*/
  .headerr {
    background-image: url(../img/banner2.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m2 {
    display: grid;
    height: 1800px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1700px 50px;
    align-content: center;
    row-gap: 30px; }
    .m2 .characters {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "Naruto Sasuke Sakura Kakashi Itachi" "Minato Obito Madara Hashirama Tobirama" "Sarutobi Pain Tsunade Orochimaru Jiraiya"; }
      .m2 .characters .Naruto {
        height: 80%;
        width: 100%;
        grid-area: Naruto;
        transition: height 2s, width 2s; }
      .m2 .characters .Naruto :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Sasuke {
        height: 80%;
        width: 100%;
        grid-area: Sasuke;
        transition: height 2s, width 2s; }
      .m2 .characters .Sasuke :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Sakura {
        height: 80%;
        width: 100%;
        grid-area: Sakura;
        transition: height 2s, width 2s; }
      .m2 .characters .Sakura :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Kakashi {
        height: 80%;
        width: 100%;
        grid-area: Kakashi;
        transition: height 2s, width 2s; }
      .m2 .characters .Kakashi :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Itachi {
        height: 80%;
        width: 90%;
        grid-area: Itachi;
        transition: height 2s, width 2s; }
      .m2 .characters .Itachi :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Minato {
        height: 80%;
        width: 90%;
        grid-area: Minato;
        transition: height 2s, width 2s; }
      .m2 .characters .Minato :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Obito {
        height: 80%;
        width: 100%;
        grid-area: Obito;
        transition: height 2s, width 2s; }
      .m2 .characters .Obito :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Madara {
        height: 80%;
        width: 90%;
        grid-area: Madara;
        transition: height 2s, width 2s; }
      .m2 .characters .Madara :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Hashirama {
        height: 80%;
        width: 100%;
        grid-area: Hashirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Hashirama :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Tobirama {
        height: 80%;
        width: 100%;
        grid-area: Tobirama;
        transition: height 2s, width 2s; }
      .m2 .characters .Tobirama :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Sarutobi {
        height: 80%;
        width: 100%;
        grid-area: Sarutobi;
        transition: height 2s, width 2s; }
      .m2 .characters .Sarutobi :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Pain {
        height: 80%;
        width: 100%;
        grid-area: Pain;
        transition: height 2s, width 2s; }
      .m2 .characters .Pain :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Tsunade {
        height: 80%;
        width: 100%;
        grid-area: Tsunade;
        transition: height 2s, width 2s; }
      .m2 .characters .Tsunade :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Orochimaru {
        height: 80%;
        width: 90%;
        grid-area: Orochimaru;
        transition: height 2s, width 2s; }
      .m2 .characters .Orochimaru :hover {
        height: 500px;
        width: 300px; }
      .m2 .characters .Jiraiya {
        height: 80%;
        width: 100%;
        grid-area: Jiraiya;
        transition: height 2s, width 2s; }
      .m2 .characters .Jiraiya :hover {
        height: 500px;
        width: 300px; }
    .m2 .description {
      display: grid;
      justify-items: center;
      align-items: center; }
      .m2 .description .descripcion {
        color: white;
        font-family: "Permanent Marker", cursive; }
  /*Footer*/
  .f2 {
    top: 2500px;
    height: 240px;
    width: 100%; }
    .f2 h2 {
      color: black;
      position: relative;
      top: 20px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f2 .twitter {
      transition: height 4s, width 4s; }
    .f2 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f2 .ig {
      transition: height 4s, width 4s; }
    .f2 .ig :hover {
      height: 50px;
      width: 50px; } }

.form2 {
  display: grid;
  row-gap: 15px; }

@media only screen and (max-width: 600px) {
  /*Header*/
  #headerr {
    background-image: url(../img/banner4.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m3 {
    background-image: url(../img/fondo1.jpg);
    display: grid;
    height: 1500px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 250px 500px 450px;
    row-gap: 15px;
    justify-items: center; }
    .m3 h3 {
      color: white;
      font-family: "Permanent Marker", cursive;
      align-self: center; }
    .m3 .section {
      display: grid;
      row-gap: 20px; }
      .m3 .section .form {
        display: grid;
        row-gap: 20px; }
    .m3 .kakashi3 {
      height: 100%;
      width: 100%; }
  /*Footer*/
  .f3 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f3 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f3 .twitter {
      transition: height 4s, width 4s; }
    .f3 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f3 .ig {
      transition: height 4s, width 4s; }
    .f3 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 600px) {
  /*Header*/
  #headerr {
    background-image: url(../img/banner4.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m3 {
    display: grid;
    height: 1500px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 250px 500px 450px;
    row-gap: 15px;
    justify-items: center; }
    .m3 h3 {
      color: white;
      font-family: "Permanent Marker", cursive;
      align-self: center;
      justify-self: center; }
    .m3 .section {
      display: grid;
      row-gap: 20px; }
      .m3 .section .form {
        display: grid;
        row-gap: 20px; }
    .m3 .kakashi3 {
      height: 100%;
      width: 100%; }
  /*Footer*/
  .f3 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f3 h2 {
      color: black;
      position: relative;
      top: 30px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f3 .twitter {
      transition: height 4s, width 4s; }
    .f3 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f3 .ig {
      transition: height 4s, width 4s; }
    .f3 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 768px) {
  /*Header*/
  #headerr {
    background-image: url(../img/banner4.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m3 {
    display: grid;
    height: 1000px;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "a1 a1" "a2 a3"; }
    .m3 h3 {
      color: white;
      font-family: "Permanent Marker", cursive;
      justify-self: center;
      grid-area: a1; }
    .m3 .section {
      grid-area: a2;
      align-self: flex-end; }
    .m3 .kakashi3 {
      height: 100%;
      width: 100%;
      grid-area: a3; }
  /*Footer*/
  .f3 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f3 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f3 .twitter {
      transition: height 4s, width 4s; }
    .f3 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f3 .ig {
      transition: height 4s, width 4s; }
    .f3 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 992px) {
  /*Header*/
  #headerr {
    background-image: url(../img/banner4.jfif); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m3 {
    display: grid;
    height: 1000px;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "a1 a1" "a2 a3";
    padding-right: 10px;
    padding-left: 10px; }
    .m3 h3 {
      color: white;
      font-family: "Permanent Marker", cursive;
      justify-self: center;
      grid-area: a1;
      padding-right: 10px;
      padding-left: 10px; }
    .m3 .section {
      grid-area: a2;
      align-self: flex-end; }
    .m3 .kakashi3 {
      height: 100%;
      width: 100%;
      grid-area: a3; }
  /*Footer*/
  .f3 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f3 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f3 .twitter {
      transition: height 4s, width 4s; }
    .f3 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f3 .ig {
      transition: height 4s, width 4s; }
    .f3 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (max-width: 600px) {
  /*Header*/
  .headder {
    background-image: url(../img/banner5.jpg); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m4 {
    display: grid;
    height: 800px;
    width: 100%;
    grid-template-columns: 100%;
    row-gap: 25px;
    grid-template-rows: 350px 350px;
    grid-template-areas: "a1" "a2"; }
    .m4 h3 {
      height: 100%;
      color: white;
      grid-area: a1;
      align-self: center;
      font-family: "Permanent Marker", cursive; }
    .m4 #dattebayo {
      height: 100%;
      width: 100%;
      grid-area: a2; }
  /*Footer*/
  .f4 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f4 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f4 .twitter {
      transition: height 4s, width 4s; }
    .f4 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f4 .ig {
      transition: height 4s, width 4s; }
    .f4 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 600px) {
  /*Header*/
  .headder {
    background-image: url(../img/banner5.jpg); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a3; }
  /*Main*/
  .m4 {
    display: grid;
    height: 700px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a1" "a2"; }
    .m4 h3 {
      color: white;
      grid-area: a1;
      align-self: center;
      font-family: "Permanent Marker", cursive; }
    .m4 #dattebayo {
      height: 100%;
      width: 100%;
      grid-area: a2; }
  /*Footer*/
  .f4 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f4 h2 {
      color: black;
      position: relative;
      top: 30px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f4 .twitter {
      transition: height 4s, width 4s; }
    .f4 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f4 .ig {
      transition: height 4s, width 4s; }
    .f4 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 768px) {
  /*Header*/
  .headder {
    background-image: url(../img/banner5.jpg); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m4 {
    display: grid;
    height: 700px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a1" "a2"; }
    .m4 h3 {
      color: white;
      grid-area: a1;
      align-self: center;
      font-family: "Permanent Marker", cursive; }
    .m4 #dattebayo {
      height: 100%;
      width: 100%;
      grid-area: a2; }
  /*Footer*/
  .f4 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f4 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f4 .twitter {
      transition: height 4s, width 4s; }
    .f4 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f4 .ig {
      transition: height 4s, width 4s; }
    .f4 .ig :hover {
      height: 50px;
      width: 50px; } }

@media only screen and (min-width: 992px) {
  /*Header*/
  .headder {
    background-image: url(../img/banner5.jpg); }
  /*Nav*/
  #navbar2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2"; }
    #navbar2 .logg {
      grid-area: a1; }
    #navbar2 #divvv {
      grid-area: a2; }
  /*Main*/
  .m4 {
    display: grid;
    height: 700px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a1" "a2"; }
    .m4 h3 {
      color: white;
      grid-area: a1;
      align-self: center;
      font-family: "Permanent Marker", cursive;
      padding-right: 10px;
      padding-left: 10px; }
    .m4 #dattebayo {
      height: 100%;
      width: 100%;
      grid-area: a2; }
  /*Footer*/
  .f4 {
    top: 600px;
    height: 240px;
    width: 100%; }
    .f4 h2 {
      color: black;
      position: relative;
      top: 15px;
      text-align: center;
      font-family: "Permanent Marker", cursive; }
    .f4 .twitter {
      transition: height 4s, width 4s; }
    .f4 .twitter :hover {
      height: 50px;
      width: 50px; }
    .f4 .ig {
      transition: height 4s, width 4s; }
    .f4 .ig :hover {
      height: 50px;
      width: 50px; } }
