*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}   
main{
    background-color: black;
}
ul{
    list-style-type: none;   
}
footer{
    background-color: orangered;
}

$colorTitulos: darkorange;
$colorBlanco: white;
$fuentePermanent: 'Permanent Marker', cursive;
$altoPersonajes: 300px;
$anchoPersonajes: 150px;
$altoPersonajess: 500px;
$anchoPersonajess: 300px;
$textoAlineado: center;

@mixin Propiedades2($height, $width){
    height: $height;
    width: $width;
}

header{
    @include Propiedades2(100px, 100%);
    color: $colorTitulos;
    font-family: $fuentePermanent;
    text-align: $textoAlineado;
    
    h1{
        padding-top: 50px;
    }
}

//* HOME *//

@media only screen and (max-width: 600px){

/* Header */

/* Nav */
    #navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 15% 35%;
    grid-template-areas: "a1 a2 a3";
    .logg{
        grid-area: a1;
    }
    #divvv{
        grid-area: a3;
    }
}

/* Main */
.m{
    @include Propiedades2(800px, 100%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 250px 250px;
    row-gap: 15px;

    .video{
        width: 100%;
    
        iframe{
            @include Propiedades2(100%, 100%);
        }
    }
    
    .imagen{
        width: 100%;
        
        img{
            @include Propiedades2(100%, 100%);
        }
    }
    
    .info{
        display: grid;
        color: $colorBlanco;
        font-family: $fuentePermanent;
        text-align: $textoAlineado; 
        
        #parrafo{
            align-self: center;
        }
    }
}

/* Footer */
.f{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }
}
.twitter{
    transition: height 4s, width 4s;
}
.twitter :hover{
    @include Propiedades2(50px, 50px);
}
.ig{
    transition: height 4s, width 4s;
}
.ig :hover{
    @include Propiedades2(50px, 50px);
}
}

@media only screen and (min-width: 600px){

/* Header */

/* Nav */
    #navbar2{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 15% 35%;
        grid-template-areas: "a1 a2 a3";
        .logg{
            grid-area: a1;
        }
        #divvv{
            grid-area: a3;
        }
}

/* Main */
.m{
    display: grid;
    @include Propiedades2(1000px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 300px 350px 250px;
    row-gap: 15px;

    .video{
        width: 100%;
    
        iframe{
            @include Propiedades2(100%, 100%);
        }
    } 

    .imagen{
        width: 100%;
    
        img{
            @include Propiedades2(100%, 100%);
        }
    }

    .info{
        display: grid;
        color: $colorBlanco;
        font-family: $fuentePermanent;
        text-align: $textoAlineado; 
        
        #parrafo{
            align-self: center;
        }
    }
}

/* Footer */
.f{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}
}

@media only screen and (min-width: 768px){

/* Header */

/* Nav */
#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2";
    .logg{
        grid-area: a1;
    }
    #divvv{
        grid-area: a2;
    }
}

/* Main */
.m{
    display: grid;
    @include Propiedades2(1000px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 300px 350px 250px;
    row-gap: 15px;

    .video{
        width: 100%;
    
        iframe{
            @include Propiedades2(100%, 100%);
        }
    }
    .imagen{
        width: 100%;
    
        img{
            @include Propiedades2(100%, 100%);
        }
    }
    .info{
        display: grid;
        color: $colorBlanco;
        font-family: $fuentePermanent;
        text-align: $textoAlineado;   
        
        #parrafo{
            align-self: center;
        }
    }
}

/* Footer */
.f{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 992px){

/* Header */

/* Nav */
#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2";
    .logg{
        grid-area: a1;
    }
    #divvv{
        grid-area: a2;
    }
}

/* Main */
.m{
    display: flex;
    display: grid;
    @include Propiedades2(1200px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 400px 600px 100px;
    row-gap: 33px;
}
.video{
    width: 100%;

    iframe{
        @include Propiedades2(100%, 100%);
    }
}
.imagen{
    width: 100%;

    img{
        @include Propiedades2(100%, 100%);
    }
}
.info{
    display: grid;
    color: $colorBlanco;
    font-family: $fuentePermanent;
    text-align: $textoAlineado;  

    #parrafo{
        align-self: center;
    }
}

/* Footer */
.f{
    top: 600px;
    @include Propiedades2(250px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    
    }
}

}


//*HISTORIA*//


@media only screen and (max-width: 600px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3";
    .logg{
        grid-area: a1;
    }
    #divvv{
        grid-area: a3;
    }
}

/*Main*/

.m1{
    display: grid;
    @include Propiedades2(800px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 450px 300px;
    align-content: center;
    row-gap: 30px;

    #parrafos{
        display: grid;
        align-items: center;
        @include Propiedades2(100%, 100%);
        align-self: center;
        justify-self: center;
        color: $colorBlanco;
        display: grid;
        font-family: $fuentePermanent;
        text-align: $textoAlineado; 
    }
    #video{
        width: 100%;
    
        iframe{
            @include Propiedades2(100%, 100%);
        }
    }
}

/*Footer*/

.f1{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 600px){

/*Header*/

/*Nav*/
#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3";
    .logg{
        grid-area: a1;
    }
    #divvv{
        grid-area: a3;
    }
}

/*Main*/

.m1{
    display: grid;
    @include Propiedades2(800px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 350px 300px;
    align-content: center;
    row-gap: 30px;

    #parrafos{
        display: grid;
        align-items: center;
        @include Propiedades2(100%, 100%);
        align-self: center;
        justify-self: center;
        color: $colorBlanco;
        display: grid;
        font-family: $fuentePermanent;
        text-align: $textoAlineado;
    }
    
    #video{
        width: 100%;
    
        iframe{
            @include Propiedades2(100%, 100%);
        }
    }
}

/*Footer*/

.f1{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 768px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2";
    .logg{
        grid-area: a1;
    }
    #divvv{
        grid-area: a2;
    } 
}

/*Main*/

.m1{
    display: grid;
    @include Propiedades2(800px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 300px 400px;
    align-content: center;
    row-gap: 30px;

    #parrafos{
        display: grid;
        @include Propiedades2(100%, 100%);
        align-self: center;
        justify-self: center;
        color: $colorBlanco;
        font-family: $fuentePermanent;
        text-align: $textoAlineado;
        align-items: center;
    }
    
    #video{
        width: 100%;
    
        iframe{
            @include Propiedades2(100%, 100%);
        }
    }
}

/*Footer*/

.f1{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 992px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2";
    .logg{
        grid-area: a1;
    }
    #divvv{
        grid-area: a2;
    }
}

/*Main*/

.m1{
    display: grid;
    @include Propiedades2(800px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 300px 400px;
    align-content: center;
    row-gap: 30px;

    #parrafos{
        display: grid;
        @include Propiedades2(100%, 100%);
        align-self: center;
        justify-self: center;
        color: $colorBlanco;
        font-family: $fuentePermanent;
        text-align: $textoAlineado; 
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #video{
        width: 100%;
    
        iframe{
            @include Propiedades2(100%, 100%);
        }
    }
}

/*Footer*/

.f1{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}


//*PERSONAJES*//


@media only screen and (max-width: 600px){

/*Header*/

/*Nav*/
#navbar2{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 30% 15% 35%;
        grid-template-areas: "a1 a2 a3";
        .logg{
            grid-area: a1;
        }
        #divvv{
            grid-area: a3;
        }
}

/*Main*/

.m2{
    display: grid;
    @include Propiedades2(2070px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 1630px 100px;
    align-content: center;
    row-gap: 150px;

    .characters{
        @include Propiedades2(100%, 100%);
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-areas:"Naruto"
                            "Sasuke"
                            "Sakura"
                            "Kakashi"
                            "Itachi"
                            "Minato" 
                            "Obito"
                            "Madara"
                            "Hashirama"
                            "Tobirama"
                            "Sarutobi"
                            "Pain" 
                            "Tsunade"
                            "Orochimaru"
                            "Jiraiya";
    
                            .Naruto{
                                @include Propiedades2(100%, 50%);
                                grid-area: Naruto;
                                transition: height 2s, width 2s;
                            }
                            .Naruto :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Sasuke{
                                @include Propiedades2(100%, 50%);
                                grid-area: Sasuke;
                                transition: height 2s, width 2s;
                            }
                            .Sasuke :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Sakura{
                                @include Propiedades2(100%, 50%);
                                grid-area: Sakura;
                                transition: height 2s, width 2s;
                            }
                            .Sakura :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Kakashi{
                                @include Propiedades2(100%, 50%);
                                grid-area: Kakashi;
                                transition: height 2s, width 2s;
                            }
                            .Kakashi :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Itachi{
                                @include Propiedades2(100%, 50%);
                                grid-area: Itachi;
                                transition: height 2s, width 2s;
                            }
                            .Itachi :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Minato{
                                @include Propiedades2(100%, 50%);
                                grid-area: Minato;
                                transition: height 2s, width 2s;
                            }
                            .Minato :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Obito{
                                @include Propiedades2(100%, 50%);
                                grid-area: Obito;
                                transition: height 2s, width 2s;
                            }
                            .Obito:hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Madara{
                                @include Propiedades2(100%, 51%);
                                grid-area: Madara;
                                transition: height 2s, width 2s;
                            }
                            .Madara :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Hashirama{
                                @include Propiedades2(100%, 50%);
                                grid-area: Hashirama;
                                transition: height 2s, width 2s;
                            }
                            .Hashirama :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Tobirama{
                                @include Propiedades2(100%, 50%);
                                grid-area: Tobirama;
                                transition: height 2s, width 2s;
                            }
                            .Tobirama :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Sarutobi{
                                @include Propiedades2(100%, 50%);
                                grid-area: Sarutobi;
                                transition: height 2s, width 2s;
                            }
                            .Sarutobi :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Pain{
                                @include Propiedades2(100%, 50%);
                                grid-area: Pain;
                                transition: height 2s, width 2s;
                            }
                            .Pain :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Tsunade{
                                @include Propiedades2(100%, 50%);
                                grid-area: Tsunade;
                                transition: height 2s, width 2s;
                            }
                            .Tsunade :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Orochimaru{
                                @include Propiedades2(100%, 50%);
                                grid-area: Orochimaru;
                                transition: height 2s, width 2s;
                            }
                            .Orochimaru :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Jiraiya{
                                @include Propiedades2(100%, 50%);
                                grid-area: Jiraiya;
                                transition: height 2s, width 2s;
                            }
                            .Jiraiya :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }                                        
    }
    
    .description{
        display: grid;
        justify-items: center;
        align-items: center;
    
        .descripcion{
            color: $colorBlanco;
            font-family: $fuentePermanent;
        }
}

}

/*Footer*/

.f2{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }
    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
} 

}

@media only screen and (min-width: 600px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a3;
        }
    }

/*Main*/

.m2{
    display: grid;
    @include Propiedades2(400px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 300px 50px;
    align-content: center;
    row-gap: 30px;
    
    .characters{
        @include Propiedades2(100%, 100%);
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 90px 90px 90px;
        grid-template-areas: "Naruto Sasuke Sakura Kakashi Itachi"
                             "Minato Obito Madara Hashirama Tobirama"
                             "Sarutobi Pain Tsunade Orochimaru Jiraiya";
    
                             .Naruto{
                                @include Propiedades2(90%, 70%);
                                grid-area: Naruto;
                                transition: height 2s, width 2s;
                            }
                            .Naruto :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Sasuke{
                                @include Propiedades2(90%, 70%);
                                grid-area: Sasuke;
                                transition: height 2s, width 2s;
                            }
                            .Sasuke :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Sakura{
                                @include Propiedades2(90%, 70%);
                                grid-area: Sakura;
                                transition: height 2s, width 2s;
                            }
                            .Sakura :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Kakashi{
                                @include Propiedades2(90%, 70%);
                                grid-area: Kakashi;
                                transition: height 2s, width 2s;
                            }
                            .Kakashi :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Itachi{
                                @include Propiedades2(90%, 70%);
                                grid-area: Itachi;
                                transition: height 2s, width 2s;
                            }
                            .Itachi :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Minato{
                                @include Propiedades2(90%, 70%);
                                grid-area: Minato;
                                transition: height 2s, width 2s;
                            }
                            .Minato :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Obito{
                                @include Propiedades2(90%, 70%);
                                grid-area: Obito;
                                transition: height 2s, width 2s;
                            }
                            .Obito :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Madara{
                                @include Propiedades2(90%, 70%);
                                grid-area: Madara;
                                transition: height 2s, width 2s;
                            }
                            .Madara :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Hashirama{
                                @include Propiedades2(90%, 70%);
                                grid-area: Hashirama;
                                transition: height 2s, width 2s;
                            }
                            .Hashirama :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Tobirama{
                                @include Propiedades2(90%, 70%);
                                grid-area: Tobirama;
                                transition: height 2s, width 2s;
                            }
                            .Tobirama :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Sarutobi{
                                @include Propiedades2(90%, 70%);
                                grid-area: Sarutobi;
                                transition: height 2s, width 2s;
                            }
                            .Sarutobi :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Pain{
                                @include Propiedades2(90%, 70%);
                                grid-area: Pain;
                                transition: height 2s, width 2s;
                            }
                            .Pain :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Tsunade{
                                @include Propiedades2(90%, 70%);
                                grid-area: Tsunade;
                                transition: height 2s, width 2s;
                            }
                            .Tsunade :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Orochimaru{
                                @include Propiedades2(90%, 70%);
                                grid-area: Orochimaru;
                                transition: height 2s, width 2s;
                            }
                            .Orochimaru :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
                            .Jiraiya{
                                @include Propiedades2(90%, 70%);
                                grid-area: Jiraiya;
                                transition: height 2s, width 2s;
                            }
                            .Jiraiya :hover{
                                height: $altoPersonajes;
                                width: $anchoPersonajes;
                            }
    }
    
    .description{
        display: grid;
        justify-items: center;
        align-items: center;
    
        .descripcion{
            color: $colorBlanco;
            font-family: $fuentePermanent;
        }
    }
}

/*Footer*/

.f2{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }  
}

}

@media only screen and (min-width: 768px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a2;
        }
}

/*Main*/

.m2{
    display: grid;
    @include Propiedades2(1800px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 1700px 50px;
    align-content: center;
    row-gap: 30px;

    .characters{
        @include Propiedades2(110%, 100%);
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "Naruto Sasuke Sakura Kakashi Itachi"
                             "Minato Obito Madara Hashirama Tobirama"
                             "Sarutobi Pain Tsunade Orochimaru Jiraiya";
    
                            .Naruto{
                                @include Propiedades2(70%, 100%);
                                grid-area: Naruto;
                                transition: height 2s, width 2s;
                            }
                            .Naruto :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Sasuke{
                                @include Propiedades2(70%, 100%);
                                grid-area: Sasuke;
                                transition: height 2s, width 2s;
                            }
                            .Sasuke :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Sakura{
                                @include Propiedades2(70%, 100%);
                                grid-area: Sakura;
                                transition: height 2s, width 2s;
                            }
                            .Sakura :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Kakashi{
                                @include Propiedades2(70%, 100%);
                                grid-area: Kakashi;
                                transition: height 2s, width 2s;
                            }
                            .Kakashi :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Itachi{
                                @include Propiedades2(70%, 100%);
                                grid-area: Itachi;
                                transition: height 2s, width 2s;
                            }
                            .Itachi :hover{
                                height: 400px;
                                width: 250px;
                            }
                            .Minato{
                                @include Propiedades2(70%, 100%);
                                grid-area: Minato;
                                transition: height 2s, width 2s;
                            }
                            .Minato :hover{
                                height: $altoPersonajess;
                                width: 300px;
                            }
                            .Obito{
                                @include Propiedades2(70%, 100%);
                                grid-area: Obito;
                                transition: height 2s, width 2s;
                            }
                            .Obito :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Madara{
                                @include Propiedades2(70%, 100%);
                                grid-area: Madara;
                                transition: height 2s, width 2s;
                            }
                            .Madara :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Hashirama{
                                @include Propiedades2(70%, 100%);
                                grid-area: Hashirama;
                                transition: height 2s, width 2s;
                            }
                            .Hashirama :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Tobirama{
                                @include Propiedades2(70%, 100%);
                                grid-area: Tobirama;
                                transition: height 2s, width 2s;
                            }
                            .Tobirama :hover{
                                height: 400px;
                                width: 250px;
                            }
                            .Sarutobi{
                                @include Propiedades2(70%, 100%);
                                grid-area: Sarutobi;
                                transition: height 2s, width 2s;
                            }
                            .Sarutobi :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Pain{
                                @include Propiedades2(70%, 100%);
                                grid-area: Pain;
                                transition: height 2s, width 2s;
                            }
                            .Pain :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Tsunade{
                                @include Propiedades2(70%, 100%);
                                grid-area: Tsunade;
                                transition: height 2s, width 2s;
                            }
                            .Tsunade :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Orochimaru{
                                @include Propiedades2(70%, 100%);
                                grid-area: Orochimaru;
                                transition: height 2s, width 2s;
                            }
                            .Orochimaru :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Jiraiya{
                                @include Propiedades2(70%, 100%);
                                grid-area: Jiraiya;
                                transition: height 2s, width 2s;
                            }
                            .Jiraiya :hover{
                                height: 400px;
                                width: 250px;
                            }
    }
    
    .description{
        display: grid;
        justify-items: center;
        align-items: center;
    
        .descripcion{
            color: $colorBlanco;
            font-family: $fuentePermanent;
        }
    }   
}

/*Footer*/

.f2{
    top: 2500px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 50px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 992px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a2;
        }
}


/*Main*/

.m2{
    display: grid;
    @include Propiedades2(1800px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 1700px 50px;
    align-content: center;
    row-gap: 30px;

    .characters{
        @include Propiedades2(100%, 100%);
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "Naruto Sasuke Sakura Kakashi Itachi"
                             "Minato Obito Madara Hashirama Tobirama"
                             "Sarutobi Pain Tsunade Orochimaru Jiraiya";
    
                             .Naruto{
                                @include Propiedades2(80%, 100%);
                                grid-area: Naruto;
                                transition: height 2s, width 2s;
                            }
                            .Naruto :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Sasuke{
                                @include Propiedades2(80%, 100%);
                                grid-area: Sasuke;
                                transition: height 2s, width 2s;
                            }
                            .Sasuke :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Sakura{
                                @include Propiedades2(80%, 100%);
                                grid-area: Sakura;
                                transition: height 2s, width 2s;
                            }
                            .Sakura :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Kakashi{
                                @include Propiedades2(80%, 100%);
                                grid-area: Kakashi;
                                transition: height 2s, width 2s;
                            }
                            .Kakashi :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Itachi{
                                @include Propiedades2(80%, 90%);
                                grid-area: Itachi;
                                transition: height 2s, width 2s;
                            }
                            .Itachi :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Minato{
                                @include Propiedades2(80%, 90%);
                                grid-area: Minato;
                                transition: height 2s, width 2s;
                            }
                            .Minato :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Obito{
                                @include Propiedades2(80%, 100%);
                                grid-area: Obito;
                                transition: height 2s, width 2s;
                            }
                            .Obito :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Madara{
                                @include Propiedades2(80%, 90%);
                                grid-area: Madara;
                                transition: height 2s, width 2s;
                            }
                            .Madara :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Hashirama{
                                @include Propiedades2(80%, 100%);
                                grid-area: Hashirama;
                                transition: height 2s, width 2s;
                            }
                            .Hashirama :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Tobirama{
                                @include Propiedades2(80%, 100%);
                                grid-area: Tobirama;
                                transition: height 2s, width 2s;
                            }
                            .Tobirama :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Sarutobi{
                                @include Propiedades2(80%, 100%);
                                grid-area: Sarutobi;
                                transition: height 2s, width 2s;
                            }
                            .Sarutobi :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Pain{
                                @include Propiedades2(80%, 100%);
                                grid-area: Pain;
                                transition: height 2s, width 2s;
                            }
                            .Pain :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Tsunade{
                                @include Propiedades2(80%, 100%);
                                grid-area: Tsunade;
                                transition: height 2s, width 2s;
                            }
                            .Tsunade :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Orochimaru{
                                @include Propiedades2(80%, 90%);
                                grid-area: Orochimaru;
                                transition: height 2s, width 2s;
                            }
                            .Orochimaru :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
                            .Jiraiya{
                                @include Propiedades2(80%, 100%);
                                grid-area: Jiraiya;
                                transition: height 2s, width 2s;
                            }
                            .Jiraiya :hover{
                                height: $altoPersonajess;
                                width: $anchoPersonajess;
                            }
    }
    
    .description{
        display: grid;
        justify-items: center;
        align-items: center;
    
        .descripcion{
            color: $colorBlanco;
            font-family: $fuentePermanent;
        }
    }   
}

/*Footer*/

.f2{
    top: 2500px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 50px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}


//*CONTACTO*//

.form2{
    display: grid;
    row-gap: 15px;
}

@media only screen and (max-width: 600px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a3;
        }
}

/*Main*/

.m3{
    display: grid;
    @include Propiedades2(1500px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 250px 500px 450px;
    row-gap: 15px;
    justify-items: center;

    h3{
        color: $colorBlanco;
        font-family: $fuentePermanent;
        align-self: center;
    }
    
    .section{
        display: grid;
        row-gap: 20px;
    
        .form{
            display: grid;
            row-gap: 20px;
        }
    }
    
    .kakashi3{
        @include Propiedades2(100%, 100%);
    }  
}

/*Footer*/

.f3{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 600px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a3;
        } 
}

/*Main*/

.m3{
    display: grid;
    @include Propiedades2(1500px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 250px 500px 450px;
    row-gap: 15px;
    justify-items: center;

    h3{
        color: $colorBlanco;
        font-family: $fuentePermanent;
        align-self: center;
        justify-self: center;
    }

    .section{
        display: grid;
        row-gap: 20px;
    
        .form{
            display: grid;
            row-gap: 20px;
        }
    }

    .kakashi3{
        @include Propiedades2(100%, 100%);
    }
    
}

/*Footer*/

.f3{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 768px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a2;
        }
}

/*Main*/

.m3{
    display: grid;
    @include Propiedades2(1000px, 100%);
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "a1 a1"
                         "a2 a3";  
                         
    h3{
        color: $colorBlanco;
        font-family: $fuentePermanent;
        justify-self: center;
        grid-area: a1;
    }  
    
    .section{
        grid-area: a2;
        align-self: flex-end;
    }

    .kakashi3{
        @include Propiedades2(100%, 100%);
        grid-area: a3;
    }
} 

/*Footer*/

.f3{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }
    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 992px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a2;
        }
}

/*Main*/

.m3{
    display: grid;
    @include Propiedades2(1000px, 100%);
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "a1 a1"
                         "a2 a3";  
    padding-right: 10px;
    padding-left: 10px;

    h3{
        color: $colorBlanco;
        font-family: $fuentePermanent;
        justify-self: center;
        grid-area: a1;
        padding-right: 10px;
        padding-left: 10px;
    }

    .section{
        grid-area: a2;
        align-self: flex-end;
    }
    .kakashi3{
        @include Propiedades2(100%, 100%);
        grid-area: a3;
    }
}

/*Footer*/

.f3{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
} 

}


//*ACERCA DE*//


@media only screen and (max-width: 600px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a3;
        }
}

/*Main*/

.m4{
    display: grid;
    @include Propiedades2(800px, 100%);
    grid-template-columns: 100%;
    row-gap: 25px;
    grid-template-rows: 350px 350px;
    grid-template-areas: "a1"
                         "a2";

    h3{
        height: 100%;
        color: $colorBlanco;
        grid-area: a1;
        align-self: center;
        font-family: $fuentePermanent;
    }   
    
    #dattebayo{
        @include Propiedades2(100%, 100%);
        grid-area: a2;
    }
                    
}

/*Footer*/

.f4{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 600px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 15% 35%;
    grid-template-areas: "a1 a2 a3";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a3;
        }
}

/*Main*/

.m4{
    display: grid;
    @include Propiedades2(700px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a1"
                         "a2";

    h3{
        color: $colorBlanco;
        grid-area: a1;
        align-self: center;
        font-family: $fuentePermanent;
    }

    #dattebayo{
        @include Propiedades2(100%, 100%);
        grid-area: a2;
    }
}

/*Footer*/

.f4{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 768px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a1 a2";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a2;
        }
}

/*Main*/

.m4{
    display: grid;
    @include Propiedades2(700px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a1"
                         "a2";

    h3{
        color: $colorBlanco;
        grid-area: a1;
        align-self: center;
        font-family: $fuentePermanent;
    }

    #dattebayo{
        @include Propiedades2(100%, 100%);
        grid-area: a2;
    }
}

/*Footer*/

.f4{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}

}

@media only screen and (min-width: 992px){

/*Header*/

/*Nav*/

#navbar2{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a2";
        .logg{
        grid-area: a1;
        }
        #divvv{
        grid-area: a2;
        }
}

/*Main*/

.m4{
    display: grid;
    @include Propiedades2(700px, 100%);
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a1"
                         "a2";

    h3{
        color: $colorBlanco;
        grid-area: a1;
        align-self: center;
        font-family: $fuentePermanent;
        padding-right: 10px;
        padding-left: 10px;  
    }

    #dattebayo{
        @include Propiedades2(100%, 100%);
        grid-area: a2;
    }
} 

/*Footer*/

.f4{
    top: 600px;
    @include Propiedades2(240px, 100%);

    h2{
        position: relative;
        top: 30px;
        text-align: $textoAlineado;
        font-family: $fuentePermanent;
    }

    .twitter{
        transition: height 4s, width 4s;
    }
    .twitter :hover{
        @include Propiedades2(50px, 50px);
    }
    .ig{
        transition: height 4s, width 4s;
    }
    .ig :hover{
        @include Propiedades2(50px, 50px);
    }
}
}